.createrecipe-outerframe {
  margin-top: 60px;
  background-image: url('../assets/images/img/hero_long_img.png');
  height: 1500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.createrecipe-title {
  font-size: 2.5em;
  color: #292727;
  text-align: center;
  padding: 0.5em 0;
}

.create-select-frame {
  text-align: center;
}

.createrecipe-select {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 1.2em;
  letter-spacing: 0.1em;
}

.create-form-frame {
  /* margin-top: 60px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-form-label {
  font-size: 1.5em;
}
.create-input {
  width: 650px;
  font-family: 'Annie Use Your Telescope', cursive;
  letter-spacing: 0.1em;
  font-size: 1.3em;
  border-radius: 10px;
  padding-left: .5em;
  letter-spacing: .1em;
  background-color: rgba(255, 255, 255, 0.8);
}

.create-input-multi {
  width: 650px;
  font-family: 'Annie Use Your Telescope', cursive;
  height: 250px;
  font-size: 1.3em;
  border-radius: 10px;
  padding: .5em;
  letter-spacing: .1em;
  background-color: rgba(255, 255, 255, 0.8);
}

.create-savebutton-frame {
  padding-top: 2em;
}

.create-button {
  height: 35px;
  width: 130px;
  border-radius: 8px;
  border-color: #292727;
  color: #292727;
  cursor: pointer;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 1.2em;
  letter-spacing: 0.1em;
}

.create-button:hover {
  color: #fff;
  background-color: #1abfe0;
  border-color: #1abfe0
}
