header {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  /* right: 0;
  left: 0; */
  z-index: 999;
 
}

.header-hello {
  /* width: 200px; */
  /* height: 20px; */
  text-align: center;
  font-size: 24px;
  padding-right: 20px;
}

.header-button {
  width: 60px;
  height: 30px;
  border-radius: 8px;
  border-color: #1abfe0;
  color: #1abfe0;
  cursor: pointer;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 20px;
}

.header-button:hover {
  color: #fff;
  background-color: #1abfe0;
}

.header-register {
  display: inline-block;
  font-size: 20px;
  font-family: 'Annie Use Your Telescope', cursive;
  color: #1abfe0;
  padding: 0 15px;
}
