.join-outerframe {
  padding: 0 50px;
  background-color: #e7ebed;
  height: 380px;
}

.join-boxmsg-frame {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.join-title {
  font-size: 3em;
  color: #1ABFE0;
  padding-left: 40px;
}

.join-message {
  font-size: 1.6em;
  text-align: center;
  padding: 0 3em .6em 3em;
}

.join-button {
  width: 9em;
  height: 2.5em;
  border-radius: 8px;
  border-color: none;
  /* border-color: #1abfe0; */
  background-color: #D0D8DB;
  color: #143C4E;
  /* color: #1abfe0; */
  cursor: pointer;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  
}

.join-button:hover {
  color: #fff;
  background-color: #1abfe0;
}