.login-oframe {
  margin-top: 60px;
  background-image: url('../assets/images/img/hero_img.jpg');
  height: 850px;
  /* max-width: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.login-xxx {
  position: absolute;
  top: 16em;
  max-width: 1040px;
  left: 16.5em;

}

.login-form-frame {
  /* position: absolute;
  max-width: 1040px;
  top: 16em;
  left: 16.5em; */

  /* display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around; */
}
/* 
.login-form-title {
  font-size: 2.2em;
  padding-bottom: .7em;
  text-align: center;
}

.login-div {
  padding: 0.3em 0;
  text-align: right;
}

.username,
.email,
.password {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

.login-input {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  width: 13em;
  text-align: center;

}

.login-button-frame {
  text-align: center;
  padding-top: 1.6em;
}

.login-button {
  width: 135px;
  height: 30px;
  border-radius: 8px;
  border-color: #1abfe0;
  color: #1abfe0;
  cursor: pointer;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 1.2em;
  letter-spacing: 0.1em;
}

.login-button:hover {
  color: #fff;
  background-color: #1abfe0;
}

@media only screen and (max-width: 768px) {
 
}

@media only screen and (max-width: 414px) {
  .login-outerframe {
    background-image: url('../assets/images/img/hero_login_small.png');
    height: 510px;
  }

  .login-form-title {
    font-size: 1.4em;
    padding-bottom: .5em;
  }

  .login-form {
    top: 10em;
    left: 1.8em;
    top: 10.3em;
    max-width: 414px;
    padding: 0 0 0 0;
  }

  .username,
  .email,
  .password {
    font-size: 1.1em;
  }
} */
