.login-outerframe {
  margin-top: 60px;
  background-image: url('../assets/images/img/hero_img.jpg');
  min-height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  position: absolute;
  top: 12em;
  max-width: 1040px;

  display: flex;
  flex-direction: column;

  align-content: space-around;
  justify-content: space-around;
  padding: 3.5em 3.5em 0 0;
}

.register-link {
  padding: 1.1em;
  font-size: 1.8em;
  /* color: #1abfe0; */
}
.login-form-title {
  font-size: 1.8em;
  padding-bottom: 0.3em;
  text-align: center;
}

.login-div {
  padding: 0.3em 0;
  text-align: right;
}

.username,
.email,
.password {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 1.3em;
  letter-spacing: 0.1em;
 
}

.login-input {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  width: 12em;
  text-align: center;
  padding-right: .5em;
 
}

.login-button-frame {
  text-align: center;
  padding: 0.7em 0;
}

.login-button {
  width: 70px;
  height: 30px;
  border-radius: 8px;
  border-color: #1abfe0;
  color: #1abfe0;
  cursor: pointer;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 1.2em;
  letter-spacing: 0.1em;
}

.login-button:hover {
  color: #fff;
  background-color: #1abfe0;
}
