.onerecipe-outerframe {
  margin-top: 60px;
  text-align: center;
  
}
.onerecipe-name-frame {
  padding: 25px 0;
  
}
.onerecipe-name {
  font-size: 2.5em;
}

.onerecipe-title {
  padding-top: 25px;
  color: #1ABFE0;
}

.onerecipe-img {
  border-radius: 20px;
}

.onerecipe-ingredient,
.onerecipe-direction,
.onerecipe-story {
  padding: 0px 80px;
}

.onerecipe-p-font {
  padding-top: 5px;
  font-size: 1.4em;
}
