.popular-outerframe {
  height: 380px;
  color: #1abfe0;
  font-size: 1.5em;
}

.popular-title {
  padding-top: 30px;
  text-align: center;
}

.popularimage-frame {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.popularimage-div {
  padding: 20px;
}

.popular-image {
  border-radius: 20px;
}

@media only screen and (max-width: 768px) {
  
}

@media only screen and (max-width: 414px) {
  .popular-outerframe {
    height: 240px;
  }

  .popular-title {
    font-size: 1.5em;
  }

  .popularimage-div {
    padding: 10px;
  }
  
  .popular-image {
    width: 100px;
    height: 100px;
  }
}
