.popular-outerframe {
  height: 350px;
  color: #1abfe0;
  font-size: 1.5em;
}

.popular-title {
  padding-top: 30px;
  text-align: center;
}

.popularimage-frame {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.popularimage-div {
  padding: 20px;
}

.popular-image {
  /* padding: 20px; */
  border-radius: 20px;

}
