/* * {

} */

.showrecipes-outerframe {
  margin-top: 60px;
  /* background-color: green */
}


.showrecipes-title-frame {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  
}
.showrecipes-cat-name{
  padding: 40px;
  /* width: 200px; */
  
}

.showrecipes-frame {
  display: flex;
  justify-content: center;
  align-items: center;
}
.showrecipes-imgframe {
  width: 380;
  height: 300;
}

.showrecipes-img {
  border-radius: 20px;
}

.showrecipes-name-frame {
 display: flex;
 flex-direction: column;
 justify-content: center;
  padding-left: 30px;
  /* width: 500px; */
  height: 300px;
}

.showrecipes-name {
  /* background-color: red; */
}

.showrecipes-time {
  /* background-color: green; */

}