.showrecipes-outerframe {
  margin-top: 60px;
  background-image: url('../assets/images/img/hero_long_img.png');
  height: 1800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.showrecipe-add-frame {
  text-align: center;
  padding-top: 2em;
}

.showrecipe-add-button {
  height: 35px;
  width: 350px;
  border-radius: 8px;
  color: #fff;

  background-color: #1abfe0;
  border-color: #1abfe0;
  cursor: pointer;
  font-family: 'Caveat', cursive;
  /* font-family: 'Annie Use Your Telescope', cursive; */
  font-size: 1.3em;
  letter-spacing: 0.1em;
}

.showrecipe-add-button:hover {
  /* border: 2px solid #1abfe0; */
 
  color: #292727;
 
}

.showrecipes-cat-name {
  color: #292727;
  text-align: center;
  height: 60px;
  font-size: 2.8em;
  text-transform: capitalize;
  padding: .5em 0 0 0;
}

.showrecipes-wrapframe {
  margin: 0 20px 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.showrecipes-frame {
  width: 450px;
  padding-top: 3em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showrecipes-imgframe {
  width: 380;
}

.showrecipes-img {
  border-radius: 20px;
  width: 350px;
  height: 300px;
}

.showrecipes-name-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.showrecipes-name {
  color: #292727;
}

.showrecipes-time {
  color: #292727;
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 414px) {
  .showrecipes-cat-name {
    font-size: 2em;
  }

  .showrecipes-frame {
    width: 400px;
    padding-top: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .showrecipes-img {
    width: 200px;
    height: 180px;
  }

  .showrecipes-name {
    font-size: 1.2em;
  }
  .showrecipes-time {
    font-size: 1em;
  }
}
