.updaterecipe-outerframe {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.updaterecipe-img {

  border-radius: 20px;
}

#update_form {
  padding-top: 35px;;
  display: grid;
}

#update_name {
  width: 200px;
}

#update_prep_time {
  width: 200px;
}

#update_ingredient {
  width: 500px;
  height: 150px;
}
#update_direction {
  width: 500px;
  height: 150px;
}
#update_story {
  width: 500px;
  height: 150px;
}